body {
  overflow-y: hidden;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "basic";
  src: url(fonts/basic.ttf);
}
@font-face {
  font-family: "h1font";
  src: url(fonts/font1.ttf);
}
@font-face {
  font-family: "buttons";
  src: url(fonts/nav.ttf);
}
html, body {
  background-color: #FEDCC8;
}
.name {
  font-family: "h1font";
  font-size: 5vw;
  letter-spacing: 2px;
  font-weight: 400;
  top: 0.5vh;
  left: 50px;
  position: absolute;
}
.text {
  width: 100vw;
  position: absolute;
  right: 0;
  z-index: 10;
}
.heading {
  font-size: 6vw;
  color:#2D112B;
  font-family: "basic";
  letter-spacing: 1.7px;
  text-align: center;
  font-weight: 600;
  position: relative;
  white-space: nowrap;
  z-index: 2;
  pointer-events: none;
  margin-top: calc(13vh - 12px)
}
#info {
  width: 700px;
  height:550px;
  position:relative;
  margin-top: 20px;
  margin-left: 250px;
  padding:10px;
  overflow: hidden;
  z-index: 10;
  color: white;
  font-family: "basic";
  letter-spacing: 1.7px;
  font-size: 40px;
  font-weight: 700;
  display: inline-block;
}
#nav {
  width: 600px;
  height:600px;
  position:relative;
  margin-right: 150px;
  margin-left: 100px;
  padding:10px;
  overflow: hidden;
  z-index: 10;
  color: white;
  font-family: "basic";
  letter-spacing: 1.7px;
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
}
#nav ul li {
  list-style: none;
  text-align: center;
  margin: 90px;
}
#nav ul li a{
  text-decoration: none;
  padding: 17px;
  color: black;
  font-family: "basic";
  border: none;
  border-radius: 41px;
  background: #ee4339;
  box-shadow: 26px 26px 52px #331917,
              -26px -26px 52px #1f0e25;
}
#nav ul li a:hover {
  border-radius: 41px;
  background: linear-gradient(145deg, #d63c33, #ff483d);
  box-shadow:  26px 26px 52px #b7342c,
               -26px -26px 52px #3f1d4d;
}
#nav ul li a:active {
  border-radius: 41px;
  background: #ee4339;
  box-shadow: inset 26px 26px 52px #b7342c,
              inset -26px -26px 52px #ff5246;
}
.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer img {
  display: block;
  position: absolute;
  bottom: 0;
}
.parallax__cover {
  background: linear-gradient(to top, rgb(10, 10, 27) 40%, #2D112B 100%);
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 1200px;
  z-index: 9;
}
.parallax__layer__0 {
  transform: translateZ(-300px) scale(4);
}
.parallax__layer__1 {
  transform: translateZ(-250px) scale(3.5);
}
.parallax__layer__2 {
  transform: translateZ(-200px) scale(3);
}
.parallax__layer__3 {
  transform: translateZ(-150px) scale(2.5);
}
.parallax__layer__4 {
  transform: translateZ(-100px) scale(2);
}
.parallax__layer__5 {
  transform: translateZ(-50px) scale(1.5);
}
.parallax__layer__6 {
  transform: translateZ(0px) scale(1);
}