* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
@font-face {
    font-family: "basic";
    src: url("fonts/basic.ttf");
}
@font-face {
    font-family: "h1font";
    src: url(fonts/font1.ttf);
}
body {
    background-color: #FEDCC8;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
h1 {
    font-family: "h1font";
    font-size: 70px;
    letter-spacing: 1.5px;
    font-weight: 500;
    top: 0;
    left: 0;
    position: relative;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    list-style: none;
    margin-left: 20px;
}
header ul li a, #submit {
    text-decoration: none;
    padding: 15px;
    color: black;
    font-family: "basic";
    font-size: 17px;
    border: none;
    border-radius: 28px;
    background: #FEDCC8;
    box-shadow:  26px 26px 38px #eacab8,
                -26px -26px 38px #ffeed8;
}
header ul li a:hover, #submit:hover {
    border-radius: 28px;
    background: linear-gradient(145deg, #e5c6b4, #ffebd6);
    box-shadow:  26px 26px 38px #eacab8,
                -26px -26px 38px #ffeed8;
}
header ul li a:active, #submit:active {
    border-radius: 28px;
    background: #FEDCC8;
    box-shadow: inset 26px 26px 38px #eacab8,
                inset -26px -26px 38px #ffeed8;
}
.parallax {
    perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    margin-left: -1500px;
}
.parallax__layer img {
    display: block;
    position: absolute;
    bottom: 0;
}
#note {
    width:1000px;
    height:600px;
    position:relative;
    margin:150px;
    margin-left: 60px;
    padding:30px;
    overflow: hidden;
    display: inline-block;
    z-index: 10;
    text-align: left;
}
#breathingcircle {
    display: inline-block;
    margin: 30px;
    width: 300px;
    margin-left: 60px;
    z-index: 10;
    align-items: center;
    height: 300px;
    border-radius: 50%;
    background-color: orange;
    animation: breathing 8s ease-in-out infinite alternate;
  }
  @keyframes breathing {
    from {
      transform: scale(0.2);
    }
    to {
      transform: scale(1.0);
    }
  }
#note p {
    font-size: 30px;
    font-family: "basic";
    color: #2d112b;
}
#note label {
    font-size: 20px;
    font-family: "basic";
}
#note text {
    width: 50px;
}
input[type=text] {
    font-family: "basic";
    background:none;
    font-size: 30px;
    height: 40px;
    border: none;
    border-bottom: black 1px solid;
}